<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Doctor's Orders</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src=" http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="https://mir-s3-cdn-cf.behance.net/project_modules/disp/4cbe6f40619873.57b4af9cc4a13.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div id="container">
	  <!-- class="navbar navbar-inverse [ navbar-fixed-top ]" -->
	<div id="navDiv">
	  <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a class="navbar-brand" href="/"><img class="theIm" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/4cbe6f40619873.57b4af9cc4a13.png" style="width:55px;height:55px;"></a>
			</div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <!-- <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Week
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/sales/Week1">Week 1</a></li>
							<li><a href="/sales/Week2">Week 2</a></li>
							<li><a href="/sales/Week3">Week 3</a></li>
							<li><a href="/sales/Week4">Week 4</a></li>
						</ul>
					</li> -->
					<li><a href="/patients">Patients</a></li>
					<!-- <li><a href="/products">Medication</a></li> -->
					<!-- <li><a href="/sales">Sales</a></li> -->
					<!-- <li><a href="/purchases">Purchases</a></li> -->
				</ul>
				<div class="col-sm-3 col-md-3">
						<form class="navbar-form" role="search">
						<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="q">
								<div class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
						</div>
						</form>
				</div>
				<ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
	    </div>
	  </div>
	</nav>
	</div>
	{{{body}}}
	</div>
	<script>
	$.material.init();
	</script>
</body>
</html>
