
<h1>Add Medicine</h1>

<form action="add_script_items" method="POST">

	<div class="form-group">
		<!-- <label for="des">Medicine Name</label>
		<input type="text" class="form-control" id="pwd" name="med_name" value="{{med_name}}"> -->

		<div class="dropdown">
			<label for="des">Medicine</label>

		<select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" name="med_name">

			{{#script_items}}
						<option type="text", name="med_name" value="{{med_name}}" >{{med_name}}</option>
			{{/script_items}}

</select>
</div>

	</div>
	<div class="form-group">
		<div class="dropdown">
			<label for="des">Quantity</label>

			<select class="form-control" id="sel1">

				<input type="number", name="quantity" value="{{quantity}}"></input>

					</select>
</div>
	</div>


	<button type="submit" class="btn btn-default">Create Script</button>
</form>
