<div class="container">
  <div class="jumbotron">
    <h1 class="otp">OTP</h1>
    <h1 class="otp"><span style="color:green">29341</span></h1>
    <p>This is the patient's One Time Pin. They will present this to the Chemist on the collection of Medicines</p>
    <!-- <p>Press <span style="color:blue">'Send Script'</span> to send the Script to the Chemist and Send the OTP to the patient's phone</p> -->
  </div>


    <form class="" action="/send_otp" method="post">
      <input type="submit" class="btn btn-primary btn-block" name="name" value="Send Script-OTP to patient">
    </form>

</div>
