<h1>Welcome Aristocrats</h1>
<p>If the Patient does not exits display Invalid Error</p>



<div class="container">
  <div class="jumbotron">
    <h1 class="otp">O.T.P</h1>
    <h1 class="otp">({HandleBars For the Generated Number})</h1>
    <p>This is the patient's One Time Password. They Will present this to the Chemist on the collection of Medicines</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>
