

<div class="container">
  <div class="jumbotron">
    <h1 class="otp">OTP</h1>
    <h1 class="otp"><span style="color:green">(221HG-61JJ-OO7-9U5)</span></h1>
    <p>This is the patient's One Time Password. They Will present this to the Chemist on the collection of Medicines</p>
    <p>Press <span style="color:blue">'Send Scrip'</span> to send the Script to the Pharmacist and Send the Password to the Patient's Phone</p>
  </div>
  <a href="/scripts/send" type="button" class="btn btn-primary btn-block">Send Script</a>
</div>
<div class="container">
  <h2>Patient's Script</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Scrip ID</th>
        <th>Patient ID</th>
        <th>Script Time Stamp</th>
        <th>OTP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>S-ID-1234</td>
        <td>P-ID-2345</td>
        <td>S-TS 12-Feb-2016</td>
        <td id="otpNumber"><span style="color:green">TP-221HG-61JJ-OO7-9U5</span></td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary btn-block">Create Script</button>


<div class="container">
  <h2>Patient's Medical Records</h2>
  <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>ID Number </th>
        <th>Address  </th>
        <th>Phone Number </th>
        <th>Admin Rights</th>
        <th>Doctor's ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Moses</td>
        <td>Mc Gregor</td>
        <td>moses@example.com</td>
        <td>9976266251876</td>
        <td>21 B/Carfax Stree/ Rundter/ 8872</td>
        <td>071 889 2232</td>
        <td>Patient</td>
        <td>DRL-2112-121CX</td>
      </tr>
      <!-- <tr>
        <td>Mindy</td>
        <td>Kaling</td>
        <td>mindy@example.com</td>
        <td></td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary btn-block">Create Script</button>


<div class="container">
  <h2>Script Items</h2>
  <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
  <table class="table">
    <thead>
      <tr>
        <th>Scrip Items ID</th>
        <th>Medicine ID</th>
        <th>Script ID</th>
        <th>Medicine Name</th>
        <th>Quantity</th>
        <th>Script OTP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SI-ID-1234</td>
        <td>MED-123</td>
        <td>S-ID-1234</td>

        <td>

          <div class="form-group">
    <label for="sel1">Select Medicine:</label>
    <select multiple class="form-control" id="sel2">
      <option>Panado</option>
      <option>Grand Pa</option>
      <option>B-Complex</option>
      <option>Disprin</option>
    </select>
  </div>

      </td>
        <td>

          <label for="sel1">Select Quantity</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>

      </td>
      <td id="otpNumber"><span style="color:green">OTP-221HG-61JJ-OO7-9U5</span></td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary btn-block">Create Script</button> -->
