<div class="container">
  <h2>Patient's Medical Records</h2>
  <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>ID Number </th>
        <th>Address  </th>
        <th>Phone Number </th>
        <th>Admin Rights</th>
        <th>Doctor's ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Moses</td>
        <td>Mc Gregor</td>
        <td>moses@example.com</td>
        <td>9976266251876</td>
        <td>21 B/Carfax Stree/ Rundter/ 8872</td>
        <td>071 889 2232</td>
        <td>Patient</td>
        <td>DRL-2112-121CX</td>
      </tr>
      <!-- <tr>
        <td>Mindy</td>
        <td>Kaling</td>
        <td>mindy@example.com</td>
        <td></td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary btn-block">Create Script</button>
