<h1>Enter Password</h1>
<form action="/scripts/add" method="POST">
	<div class="form-group">
		<label for="otp">Password</label>
		<input type="text" class="form-control" id="pwd" name="Product" value="{{Password}}">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
