<div class="container">
  <div class="jumbotron">
    <h1 class="otp">OTP</h1>
    <h1 class="otp"><span style="color:green">SMS Sent Successfully</span></h1>
    <!-- <p>This is the patient's One Time Pin. They will present this to the Chemist on the collection of Medicines</p> -->
    <!-- <p>Press <span style="color:blue">'Send Script'</span> to send the Script to the Chemist and Send the OTP to the patient's phone</p> -->
  </div>
  <a id="displayOTP" href="/" type="button" class="btn btn-primary btn-block">Close</a>
</div>
