
body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
.otp{
  text-align: center;
  font-size: 100px;
}
#otpNumber{
  font-size: 25px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
@import url(http://fonts.googleapis.com/css?family=Doppio+One);

a:link, a:visited {
	color:white;
}
#displayOTP{
  font-size: 25px;
}
.jumbotron{
  height: 100%;
}

#heading{
  text-align: center;
  font-family: sans-serif;
  color : red;
}
#Heading{
  text-align: center;
  font-family: sans-serif;
  color : green;
  font-size: 18px;
}

#heading2{
  font-family: sans-serif;
  background-color: green;
  color: white;
  padding: 5px;
  text-align: center;
}
.para {
  font-family: sans-serif;
}
#codeButton{
  float: right;
}
#ImageDiv{
  text-align: center;
}
h1{
  text-align: center;

}


.navbar .brand {
max-height: 70px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 0px 15px 0px;}
